@import './font.scss';

* {
  font-family: 'PxPlus IBM VGA8';
  font-size: 16px;
}

fieldset {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
}

.grid {
  height: 350px;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'display info' 'variables .';
}

.variable {
  display: flex;
  justify-content: space-between;
  width: 60px;

  label {
    margin-top: 3px;
    margin-right: 15px;
  }

  input[type='text'] {
    width: 25px;
    text-align: center;
  }
}

.display {
  grid-area: display;

  canvas {
    border: 1px solid lightgray;
  }
}

.info {
  grid-area: info;

  .grid {
    display: grid;
    width: 300px;
    height: 75px;
    grid-template-columns: 1fr 1fr;

    select {
      width: 100%;
    }
  }

  .emulator-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    button {
      flex-grow: 1;
      padding: 5px;
    }
  }

  .cpu-frequency {
    margin-top: 10px;
    label {
      margin-top: 20px;
    }

    input[type='range'] {
      width: 100%;
      margin-top: 5px;
      color: red;
    }
  }
}

.variables {
  grid-area: variables;

  .variable-grid {
    width: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'registers stack other' 'registers stack other';
  }

  .registers {
    grid-area: registers;
  }

  .stack {
    grid-area: stack;
  }

  .other {
    grid-area: other;
  }
}
