doctype html

mixin variable(label, id)
  .variable
    label #{label}
    input(type='text', id=id, value="0", disabled='')

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title CHIP-8 Emulator
    link(rel='stylesheet', href='scss/main.scss')
  body
    .grid
      fieldset.display
        legend Game canvas
        canvas
      
      fieldset.info
        legend Information
        
        .grid
          div Socket status:&nbsp;
          div#socket-status -

          div Emulator status:&nbsp;
          div#emulator-status -

          div Select rom: 
          div
            select#rom-list
              option(value="", disabled, selected)
        
        div.emulator-controls
          button#start Start
          button#stop Stop
          button#step Step
          button#reset Reset

      fieldset.variables
        legend Variables

        .variable-grid
          .registers
            - for (let i = 0; i < 16; i++) {
            -   const hex = i.toString(16).toUpperCase();
            +variable("V" + hex, "v" + i)
            - }
          
          .stack
            - for (let i = 0; i < 16; i++) {
            -   const hex = i.toString(16).toUpperCase();
            +variable("S" + hex, "s" + i)
            - }

          .other
            +variable("PC", "pc")
            +variable("I", "i")
            +variable("SP", "sp")
            +variable("DT", "dt")
            +variable("ST", "st")

      script(src='app.ts')
