doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title CHIP-8 Emulator
    link(rel='stylesheet', href='scss/main.scss')
  body
    fieldset
      legend Game canvas
      canvas
    
    fieldset.registers
      legend Registers

      - for (let i = 0; i < 16; i++) {
      -   const hex = i.toString(16).toUpperCase();
      div
        label V#{hex}
        input(type='text', value="0", disabled='')
      - }

    fieldset.information
      legend Information
      div Socket status:&nbsp;
        span#socket-status -

    script(src='app.ts')
