@import './font.scss';

* {
  font-family: 'PxPlus IBM VGA8';
  font-size: 16px;
}

fieldset {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
}

.grid {
  height: 350px;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'display info' 'variables variables';
}

.variable {
  display: flex;
  justify-content: space-between;
  width: 60px;

  label {
    margin-top: 3px;
    margin-right: 15px;
  }

  input[type='text'] {
    width: 25px;
    text-align: center;
  }
}

.display {
  grid-area: display;

  canvas {
    border: 1px solid lightgray;
  }
}

.info {
  grid-area: info;
}

.variables {
  grid-area: variables;

  .variable-grid {
    width: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'registers stack other' 'registers stack other';
  }

  .registers {
    grid-area: registers;
  }

  .stack {
    grid-area: stack;
  }

  .other {
    grid-area: other;
  }
}
